/*  See https://docs.narrat.dev/guides/theming-the-game-and-ui for info on how to customise your game with CSS. */

#narrat-app {
  /* Customise CSS variables here. They will override the existing narrat ones. You can also add your own variables */
  --bg-color: #131720;
  --text-color: #d9e1f2;
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --secondary: #42b983;
  --font-family: 'Yomogi', cursive;
}

/* Add any other CSS you want here */

@font-face {
  font-family: Yomogi;
  src: url(../../public/fonts/Yomogi-Regular.woff2);
}
@font-face {
  font-family: Hachi Maru Pop;
  src: url(../../public/fonts/HachiMaruPop-Regular.woff2);
}

.hachimaru{
  font-family: 'Hachi Maru Pop', cursive;;
}

.dialog{
  background: rgba(83 7 72 / 44%)
}

.dialog-title{
  font-size: 1.5em;
}

.dialog-text{
  font-size: 1.25em;
}

.dialog-choice{
  font-size: 1.25em;
}